<div class="col-md-4">
    <div class="card player-card">
        <img src="{{image}}" alt="{{title}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">Descripción: {{description}}
            <form action="/peliculafavorita/{{id}}" method="post">

                <button class="btn btn-dark">Añadir a favoritos</button>
            </form>

            </p>
        </div>
    </div>
</div>